/EvalBoards/ST/STM3240G-EVAL/uCOS-III/IAR/uCOS-III.ewp
/EvalBoards/ST/STM3240G-EVAL/uCOS-III/IAR/uCOS-III.eww
/EvalBoards/ST/STM3240G-EVAL/uCOS-III/IAR/FLASH
/EvalBoards/ST/STM3240G-EVAL/uCOS-III/IAR/RAM192
/EvalBoards/ST/STM3240G-EVAL/uCOS-III/IAR/settings
/EvalBoards/ST/STM3240G-EVAL/uCOS-III/IAR/Visual Studio Project
/EvalBoards/ST/STM3240G-EVAL/uCOS-III/IAR/uCOS-III.dep
/EvalBoards/ST/STM3240G-EVAL/uCOS-III/IAR/uCOS-III.ewd
/EvalBoards/ST/STM3240G-EVAL/uCOS-III/KeilMDK
/EvalBoards/ST/STM3240G-EVAL/BSP/*.TMP
/EvalBoards/ST/STM3240G-EVAL/uCOS-III/*.TMP
